.home-logo {
	text-align: center;
	margin: 0 auto;
	margin-top: 13%;
	margin-bottom: 100px;
}

.home-logo h1 {
	color: black;
	font-size: 2.4em;
}

.home-button {
	margin-top: 40px;	
}

#sign-in-button {
	padding: 15px 65px;
    background: #2E217A;
    color: #FFF;
    border: none;
    border-radius: 4px;
    -webkit-transition: background;
    transition: background;
}

#sign-in-button:hover {
	background: black;
}

.wrapper {
	background-image: url("../img/background-small-faded.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}