@font-face {
  font-family: 'Avenir';
  src: url('/static/Avenir.ttf');
}

body {
  font-family: "Avenir", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home-logo {
	text-align: center;
	margin: 0 auto;
	margin-top: 11%;
	margin-bottom: 350px;
}

.home-logo h1 {
	color: black;
	font-size: 2.7em;
  margin-bottom: 15px;
}

.home-logo h2 {
  margin: 0 auto;
  color: black;
  max-width: 500px;
  font-size: 1.3em;
  line-height: 1.2em;
}

span#airbnb {
  color: #FF5A5F;
}

span#dropbox {
  color: #1081DE;
}

.home-button {
	margin-top: 40px;	
}

#sign-in-button {
	padding: 15px 65px;
    background: #2E217A;
    color: #FFF;
    border: none;
    border-radius: 4px;
    -webkit-transition: background;
    transition: background;
}

#sign-in-button:hover {
	background: black;
}

.wrapper {
	background-image: url("../img/background-small-faded.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.home-info {
  margin:0 auto;
  max-width: 700px;
  text-align: center;
}

.home-info .row {
  margin-bottom: 80px;
}

.home-info h2 {
  color: #2E217A;
  font-size: 1.8em;
}

.buy-splash, .buy-real,
.sell-splash, .sell-real {
  margin-top: 11%;
  padding: 50px 80px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #2E217A;
}