{% extends "base.html" %}
{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="home-logo">
			<img src="static/img/box.png" alt="box" style="width: 200px; margin-bottom: 20px">
			<h1>Your stuff. On other people's laptops.</h1>
			<h2>Airbox is <span id="airbnb">Airbnb</span> for <span id="dropbox">Dropbox</span> - we're a secondary market for your unused Dropbox space.</h2>
			<div class="home-button">
				<a href="/authenticate">
					<button type="button" id="sign-in-button">Sign in with Dropbox</button>
				</a>
			</div>
		</div>
		<div class="home-info">
			<div class="row">
				<div class="col-md-4">
					<img src="https://dt8kf6553cww8.cloudfront.net/static/images/index/1-vflbLvAPq.png">
				</div>
				<div class="col-md-8">
					<h2>Sell your unused Dropbox space.</h2>
					<p>Blah blah blah</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<h2>Rent unique cloud storages experiences from all around the world.</h2>
					<p>Blah blah blah</p>
				</div>
				<div class="col-md-4">
					<img src="https://dt8kf6553cww8.cloudfront.net/static/images/index/2-vflawKxYX.png">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="https://dt8kf6553cww8.cloudfront.net/static/images/index/3-vflwYDamk.png">
				</div>
				<div class="col-md-8">
					<h2>Your data is both encrypted and distributed.</h2>
					<p>Blah blah blah</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}